/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page { 
  min-inline-size: 375px; 
  background: var(--bg-image); 
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}
/*.main {
  padding: 6em 2.5vw;
}*/
.header {
min-height: 668px;
height: 100vh;
  position: relative;
  padding: clamp(0.625rem, 0.029rem + 2.54vw, 1.25rem);
  display: grid;
  align-content: space-evenly;
}
.header__article {
  display: grid;
  justify-content: end;
}
.header__theme-menu {
  display: grid;
  justify-content: end;
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.header-title__div {
  align-self: center;
}
.header__title {
  font-family: var(--main-font);
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95px;
  text-shadow: 4px 4px var(--title-shadow);
}
.header__theme-menu-button {
  color: var(--title-section);
  font-family: var(--main-font);
  font-size: 18px;
  background-color: transparent;
  border: 1px solid transparent;
  outline: 1px solid var(--title-section);
  text-transform: lowercase;
  cursor: pointer;
  inline-size: 70px;
  block-size: 26px;
}
.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--button-hover);
}
.header__text {
  align-self: center;
  max-inline-size: clamp(22.188rem, 21.651rem + 2.29vw, 22.75rem);
  max-block-size: 117px;
}
.title__decor {
  display: flex;
  color: var(--font-color);
  font-size: 18px;
  font-family: var(--main-font);
  font-weight: 700;
  background-color: var(--accent-color);
}
.rec {
  margin: 14px 19px 39px;
}
.decorated {
  visibility: var(--visibility-decor);
  position: absolute;
  right: 50px;
  top: 21px;
  text-transform: uppercase;
  font-family: var(--main-font);
  color: var(--accent-color);
}
.link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-shadow: 3px 3px var(--accent-color);
  text-decoration: none;
}
.link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.link:focus {
  outline: 1px solid white;
  outline-offset: -2px;
}
.decorated::after {
  content: "";
  position: absolute;
  visibility: var(--visibility-decor);
  width: 9px;
  height: 9px;
  top: 6px;
  left: 41px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #FF0070;
}
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
height: 25px;
top: 20px;
right: 20px;
border-top: 1px solid var(--accent-color);
border-right: 1px solid var(--accent-color);
}
.decorated-zone::before {
  content: "";
    position: absolute;
    width: 25px;
    bottom: 20px;
    height: 25px;
    left: 20px;
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
}
.main__title {
  color: var(--title-section);
  font-size: var(--font-size);
  font-family: var(--main-font);
}
.cover__container:not(:last-of-type) {
  padding: 45px 10px 0;
  gap: 20px;
  display: flex;
}
.third__div {
  padding: 0 11px 0;
}
.cover__link-list {
  display: flex;
    flex-direction: column;
    gap: var(--padding-desktop);
    
}
.cover__link-list-item {
  display: flex;
  flex-direction: column;
  gap: 2vi;
}
.column-list {
  padding: 55px 10px 48px;
  gap: var(--padding-desktop);
}
.cover__text {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  color: var(--main-text-color);
}
.cover__title {
  font-weight: 400;
  margin-top: 2px;
}
.cover {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}
.section__image {
  display: grid;
  gap: 2vi;
  padding: 0.5em 0.5em 2em;
}
.image {
  max-width: 100%;
}
.container__image {
  display: grid;
  gap: 10px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
min-height: 668px;
height: 100vh;

}
.footer__title {
  font-family: var(--main-font);
font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
font-weight: 700;
line-height: 95.7px;
color: var(--title-color);
text-shadow: 3px 2px 0 var(--title-shadow);
}
@media (min-width:768px) {
  .container__image {
    display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
  }
  .image {
    object-fit: cover;
    height: 100%;
  }
  .image__one {
    grid-column: span 2 / span 2;
}
.image__two {
  grid-row: span 2 / span 2;
  grid-column-start: 3;
}
.image__three {
  grid-row: span 2 / span 2;
  grid-row-start: 2;
}
.image__four {
  grid-row-start: 2;
}
.image__five {
  grid-column: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 3;
}
.section__image {
  padding: 1.5em 1.3em 1.5em;
}
}
@media (min-width:768px) {
  .header {
    grid-template-columns: min-content 1fr min-content;
  }
  .header__theme-menu {
    grid-column-start: 3;
  }
  .header-title__div {
    grid-column: span 3 / span 3;
    grid-row-start: 2;
    margin-left: -20px;
  }
  .header__article{
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 3;
  }
  .cover__container-column {
    padding: 24px 10px 25px;
  }
  .cover__link-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
  }
  .column-list {
    flex-direction: column;
  }
  .title__cover {
    flex-basis: 236px;
  }
  .cover__link-list-item {
    gap: 1vi;
    flex-basis: 472px;
  }
  .column-item {
    flex-basis: 0;
  }
  .column-title {
    flex-basis: 0;
    max-inline-size: 236px;
  }
  .cover__container:not(:last-of-type) {
    padding: 59px 20px 0;
  }
  .third__div {
    padding: 15px 20px;
  }
  .header__title,.footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
@media (min-width:1024px) {
  .header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
  }
  .header__text {
    max-inline-size: 491px;
    max-block-size: 71px;
  }
  .header__theme-menu-list {
    flex-direction: row;
  }
  .header__theme-menu {
    grid-column-start: 2;
    justify-content: center;
  } 
  .header__article {
    padding-block-end: 4em;
  }
  .cover__container {
    padding: 5px 20px;
  }
  .cover__link-list:not(.column-list) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .column-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .column-title {
    grid-column: span 3 / span 3;
    max-width: 317px;
  }
  .cover__link-list-item:not(.column-item){
    grid-column-start: 2;
  }
}
