/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page { 
  min-inline-size: 375px; 
  background: url(/images/cover-image-dark.png), black; 
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}
.header {
height: 668px;
  position: relative;
  padding: 0vi 3vi;
}
.header__article {
  display: flex;
  justify-content: end;
}
.header__theme-menu-list {
  color: var(--accent-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.header__title {
  padding-block-start: 70px;
  font-family: var(--main-font);
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95px;
  text-shadow: 4px 4px 0 var(--accent-color);
}
.header__theme-menu {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.header__theme-menu-button {
  font-family: var(--main-font);
  font-size: 18px;
  background-color: transparent;
  outline: 1px;
  border: none;
  text-transform: lowercase;
}
.header__text {
  margin-block-start: 55px;
  max-inline-size: 355px;
  max-block-size: 117px;
}
.title__decor {
  display: flex;
  margin-bottom: 10px;
  color: var(--font-color);
  font-size: 18px;
  font-family: var(--main-font);
  font-weight: 700;
  background-color: var(--accent-color);
}
.rec {
  margin: 14px 19px 39px;
}
.decorated {
  display: flex;
  text-transform: uppercase;
  font-family: var(--main-font);
  color: var(--accent-color);
}
.link {
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.link:focus {
  outline: none;
}
.link:focus-visible {
  outline: 1px solid white;
}
.rec::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 23px;
  right: 15px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #FF0070;
}
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
height: 25px;
top: 10px;
right: 10px;
border-top: 1px solid var(--accent-color);
border-right: 1px solid var(--accent-color);
}
.decorated-zone::before {
  content: "";
    position: absolute;
    width: 25.04px;
    bottom: 10px;
    height: 25px;
    left: 10px;
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
}
.main__title {
  color: var(--accent-color);
  font-size: var(--font-size);
  font-family: var(--main-font);
}
.cover__link-list {
  display: flex;
    padding: 40px 10px 0 10px;
    gap: 21px;
    flex-direction: column;
}
.cover__text {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  color: var(--main-text-color);
}
.cover__title {
  font-weight: 400;
  margin: 3px;
}
.cover {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}
.section__image {
  padding: 3vi 3vi;
}
.image {
  max-width: 100%;
}
.container__image {
  display: grid;
  gap: 10px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
height: 667px;
margin-block-start: 38px;
}
.footer__title {
  font-family: var(--main-font);
font-size: 116px;
font-weight: 700;
line-height: 95.7px;
color: var(--title-color);
text-shadow: 3px 2px 0 var(--accent-color);
}
@media (min-width:768px) {
  .container__image {
    display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
  }
  .image {
    object-fit: cover;
    height: 100%;
  }
  .image__one {
    grid-column: span 2 / span 2;
}
.image__two {
  grid-row: span 2 / span 2;
  grid-column-start: 3;
}
.image__three {
  grid-row: span 2 / span 2;
  grid-row-start: 2;
}
.image__four {
  grid-row-start: 2;
}
.image__five {
  grid-column: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 3;
}
}
@media (min-width:768px) {
  .cover__link-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
  }
  .column-list {
    flex-direction: column;
  }
  .title__cover {
    flex-basis: 236px;
  }
  .cover__link-list-item {
    flex-basis: 472px;
  }
  .column-item {
    flex-basis: 0;
  }
  .column-title {
    flex-basis: 0;
  }
}
